body {
    font-family: sans-serif;
}

.main-container {
    width: 80% !important;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.imgBox {
    display: inline;
}


#main_img {
    height: 450px;
    width: 80%;
}

.productDetailsDiv {
    vertical-align: top;
    display: inline-block !important;
    margin: 60px 2px 2px 10px;
}

#product_name {
    font-size: 28px;
    font-weight: 600;
}

#product_price {
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 22px;
    color: darkred;
}

.dummy_data {
    margin: 6px;
    font-size: 15px;
}

.size {
    margin-top: 35px;
    margin-bottom: 25px;
}

.size_heading {
    margin: 10px 30px 10px 10px;
    font-size: 15px;
    font-weight: 600;
}

.size_btns {
    margin: 0px 7px 0px 7px;
    padding: 5px 13px 5px 13px;
    font-size: 12px;
    background-color: white;
    border: 1px solid grey;
    height: 25px !important;
}

.size_btns:focus {
    border: 2px solid black;
    font-weight: 600px;
    transition: 0.25s;
}

.contact_us_btn {
    margin: 10px;
    padding: 8px 17px 8px 17px;
    background-color: white;
    transition: background-color 0.25s;
    font-size: 16px;
}

.contact_us_btn:hover {
    background-color: black;
    color: white;
}

.fa-phone {
    padding-left: 6px;
}

.five_stars_div {
    margin: 10px;
}

.fa-star {
    color: gold;
}

#rating_percent {
    font-size: 14px;
    color: grey;
}

#links_icons_div {
    margin-top: 30px;
    margin-left: 15px;
}


.links_icons {
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.fa-instagram {
    background-color: #C13584;
    color: white;
}

.fa-twitter {
    background-color: #1DA1F2;
    color: white;
}

.fa-facebook-f {
    background-color: #4267B2;
    color: white;
    padding: 10px 12px 10px 12px !important;
}

.fa-whatsapp {
    background-color: #25D366;
    color: white;
}


#otherImagesOfProduct {
    margin-top: 40px;
    display: block;
}

.other_images {
    height: 130px;
    width: 26%;
}



@media screen and (max-width:1000px) {
    .main-container {
        width: 90% !important;
    }

    #main_img {
        width: 95%;
    }
}

@media screen and (max-width:800px) {
    .main-container {
        width: 95% !important;
    }

    #main_img {
        width: 100% !important;
    }

    .productDetailsDiv {
        width: 95% !important;
    }

    .other_images {
        margin-top: 20px;
        width: 30%;
    }

    .size_heading {
        margin: 10px 10px 10px 7px;
    }

    .size_btns {
        margin: 0px 3px 0px 3px;
        padding: 4px 9px 4px 9px;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column6 {
    width: 50%;
}

@media only screen and (max-width: 600px) {

    .column6 {
        width: 100% !important;
    }

    .other_images {
        width: 32%;
    }
}


.add_to_cart_btn {
    margin-top: 35px;
    padding: 7px;
    background-color: white;
    transition: background-color 0.2s ease;
    font-size: 20px;
}

.add_to_cart_btn:hover {
    background-color: grey;
    color: white;
}