body {
    font-family: sans-serif;
}

.main-container {
    width: 80% !important;
    margin: auto;
    margin-top: 35px;
}

p {
    margin: 0;
    padding: 0;
}

.imgBox {
    display: inline;
}


#main_img {
    height: 450px;
    width: 41%;
}

.productDetailsDiv {
    vertical-align: top;
    display: inline-block !important;
    margin: 60px 2px 2px 20px;
    width: 56%;
}

#product_name {
    font-size: 28px;
    font-weight: 600;
}

#product_price {
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 22px;
    color: darkred;
}

.dummy_data {
    margin: 6px;
    font-size: 15px;
}

.size {
    margin-top: 35px;
    margin-bottom: 25px;
}

.size_heading {
    margin: 10px 30px 10px 10px;
    font-size: 15px;
    font-weight: 600;
}

.size_btns {
    margin: 0px 7px 0px 7px;
    padding: 5px 13px 5px 13px;
    font-size: 12px;
    background-color: white;
    border: 1px solid grey;
    height: 25px !important;
}

.size_btns:focus {
    border: 2px solid black;
    font-weight: 600px;
    transition: 0.25s;
}

.contact_us_btn {
    margin: 10px;
    padding: 8px 17px 8px 17px;
    background-color: white;
    transition: background-color 0.25s;
    font-size: 16px;
}

.contact_us_btn:hover {
    background-color: black;
    color: white;
}

.fa-phone {
    padding-left: 6px;
}

.five_stars_div {
    margin: 10px;
}

.fa-star {
    color: gold;
}

#rating_percent {
    font-size: 14px;
    color: grey;
}

.other_images {
    height: 140px;
    width: 13.45%;
}