nav {
    background: #666;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    transition: height 0.5s;
}

.showNavDiv>nav {
    height: 200px !important;
}

.hideNavDiv>nav {
    height: 10px !important;
}


body {
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}




#navLinksResponsive {
    visibility: hidden;
    margin-top: 60px !important;
}

.showResponsiveLinks {
    visibility: visible !important;
}

.hideResponsiveLinks {
    visibility: hidden !important;
    transition: ease-out 0.8s !important;

}


#toggleButton {
    display: none;
    float: right;
    margin: 10px auto;
    height: 24px;
    cursor: pointer;
    width: 27px;
}

.navMenuIcon {
    transform: rotate(50deg) !important;
    transition: ease-in 0.15s;
    height: 12px;
}

.navCloseIcon {
    transform: rotate(-50deg) !important;
    transition: ease-in 0.15s;
    height: 10px;
}



@media screen and (max-width: 700px) {
    .links_div {
        display: none !important;
    }

    #toggleButton {
        display: block;
    }
}

@media screen and (min-width: 701px) {

    #navLinksResponsive {
        display: none;
    }

    .showNavDiv>nav {
        height: 10px !important;
        transition: none;
    }
}