* {
    font-family: sans-serif;
    margin: 0;
}



#cart_main_div {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    margin: 10%;
    position: relative;
    padding-bottom: 70px;
}

#mainDiv {
    display: flex;
}

.product {
    display: flex;
    padding: 10px;
    height: 150px;
}

.productImage {
    width: 26%;
}

.productName {
    width: 26%;
}

.productQuantity {
    width: 26%;
}

.productSubTotal {
    width: 10%;
}

.prod-img {
    height: 150px;
    width: 200px;
    display: inline;
    vertical-align: middle;
}


#productDiv {
    width: 45%;
    padding: 30px 30px 30px 110px;
}

#quantityDiv,
#subtotalDiv {
    width: 24%;
    padding: 30px;
}

.deleteProdBtn {
    background: none;
    border: none;
    font-size: 16px;
}



#order_portion {
    display: none;
    position: absolute;
    bottom: 10px;
}

#total_div {
    display: inline-block;
}

#totalAmount {}