    * {
        font-family: sans-serif;
        margin: 0;
    }



    #cart_main_div {
        padding: 20px;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        padding-bottom: 70px;
        justify-content: center;
        width: 75%;
        margin: auto;
        margin-top: 10%;
    }

    @media screen and (max-width: 1030px) {
        #cart_main_div {
            width: 90%;

        }
    }


    #mainDiv {
        display: flex;
    }


    /*   ***************              PRODUCTS HEADINGS  ********************                  */
    #productDiv {
        width: 39%;
        padding-top: 30px;
        padding-left: 180px;
    }

    #quantityDiv {
        width: 22%;
        padding: 30px;
        align-items: center;
        text-align: center;
    }

    #subtotalDiv {
        width: 16%;
        padding: 30px;
        text-align: center;
    }

    #delete_btn_div {
        width: 8%;
        margin-left: 5px;
    }






    .product {
        display: flex;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .productImageDiv {
        width: 14%;
    }

    .prod-img {
        height: 90px;
        width: 100%;
        display: inline;
        padding-right: 20px;
    }


    .productNameDiv {
        width: 35%;
        display: inline-block;
    }

    .prod-name {
        color: rgb(62, 61, 61);
        font-weight: bold;
        font-size: 16px;
    }

    .prod-price {
        color: black;
        font-weight: bold;
        font-size: 19px;
    }

    .productQuantityDiv {
        width: 24.6%;
        display: inline-block;
        text-align: center;
    }

    .prodQuantity {
        display: inline-block;
        width: 70px;
        border: 1px solid rgb(193, 191, 191);
        border-radius: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .increase_btn {
        border-radius: 12px;
        background: none;
        font-weight: 600;
        font-size: 15px;
    }

    .decrease_btn {
        border-radius: 12px;
        background: none;
        font-weight: 600;
        font-size: 15px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .productSubTotalDiv {
        width: 19%;
        display: inline-block;
        text-align: center;
    }

    .deleteProdDiv {
        display: inline-block;
        margin-left: 10px;
    }

    .deleteProdBtn {
        background: none;
        border: none;
        font-size: 16px;
        color: rgb(241, 21, 21);
    }




    #order_portion {
        display: none;
        position: absolute;
        bottom: 10px;
        width: 95%;
    }

    #total_div {
        float: right;
        align-items: right;
    }

    .mainHeadings {
        font-weight: 700;
        font-size: 15px;
        color: rgb(136, 135, 135);
    }

    hr {
        border: 0.1px solid rgb(236, 234, 234);

    }

    #checkoutBtn {
        padding-top: 7px;
        padding-bottom: 7px;
        width: 130px;
        background-color: white;
        color: rgb(73, 71, 71);
        font-weight: 800;
    }

    #totalAmount {
        color: grey;
        font-size: 15px;
        font-weight: bold;
    }

    #total {
        color: black;
        font-size: 21px;
        font-weight: 600;
    }